.page1 {
  font-family: "open_sanslight" sans-serif;
  font-style: italic;
  background-color: black;
  padding: 0px;
  margin: 0px;
  /*pour empêcher les navigateurs d'appliquer leur margine et padding par défaut*/
  background-image: url(dj.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.page1::after{
  
  content:"";
  display: table;
  clear: both;
}

.div1 {

  display: flex;
  background-color: rgba(181, 188, 196, 0.5);
  padding-top: 9%;


}



a {

  text-decoration: none;

}

.H a {

  color: white;
  text-shadow: 0 0 10px #ff9900,
    0 0 20px #ff6600,
    0 0 30px #ff3300,
    0 0 40px #ff0000;
}

.H {
  position: absolute;
  right: 25%;
  left: 25%;
  top: -3%;
}

/*La partie pour le lien de la page 2*/

nav a {
  text-transform: uppercase;
  position: absolute;
  right: 24px;
  top: 2%;
  color: green;
  border: 1px solid black;
  border-radius: 8px
}

/* Pour l'image mixtape qui sera le lien de la deuxième page*/
#mix {
  top: 4px;
  width: 60px;
  height: 30px;
  position: absolute;
  display: inline-block;
  background-image: url(mixtape.jpg);
  background-position: 6px 0px;

}

nav a:hover {

  background-color: yellow;
}

.paragraphe , .paragraphe2{
  color: white;
  font-size: 18px;
  text-align: center;
}




.fin {

  color: yellow;
  font-style: italic;
  font-size: 15px;
}

.ic {

  font-size: 17px;
  font-weight: bold;
  border-bottom: 2px solid green;
}

.maj {
  color: yellow;
  text-transform: uppercase;
  text-shadow: 0 0 5px #ff9900,
    0 0 10px #ff6600;
  font-size: 23px;
}


.f > p{
  
    color: white;
    text-align: center;
}

.f{
  border-top: 2px solid white;
  padding:10px;
  background-color:#B9BAC4;
}



#fb {

  width: 50px;
  height: 50px;
  position: absolute;
  display: inline-block;



}

#fb {
  background-image: url(image.jpg);
  background-position: 0px 0px;
  border-radius: 35px;
  


}




@media screen and (min-width: 720px) {

  .page1 {
    width: 100%;
    

  }

}

@media screen and (min-width: 1200px) {
  .page1 {
    width: 100%;
   
  }

}


@media screen and (min-width: 400px) and (max-width: 720px)   {
  .page1 {
    width: 100%;

  }

}

/*Style pour la deuxième page*/

.page2 {
  text-align: center;
  background-image: url(MIX.jpg);
  margin: 0px;
  padding: 0px;
}

.div2 {

  background-color: rgba(181, 188, 196, 0.5);
}

.H1 a {

  color: white;
  text-shadow: 0 0 10px #ff9900,
    0 0 20px #ff6600,
    0 0 30px #ff3300,
    0 0 40px #ff0000;

}

h2 {

  color: orange;
}

.box>img {

  width: -80px;

}